/* GLOBAL STYLES */

* {
	font-family: 'Open Sans', sans-serif;
}

.row {
	margin-left: 0;
	margin-right: 0;
}

/* HERO STYLES */

.hero h1 {
	text-align: center;
	letter-spacing: 34px;
	font-size: 64px;
	font-weight: 600;
	color: white;
	padding-top: 115px;
}

.hero-background {
	background-color: #274C5E;
}

.hero-info {
	color: white;
	font-weight: 300;
	font-size: 32px;
	letter-spacing: 1.3px;
	text-align: center;
	padding-top: 245px;
	padding-bottom: 245px;
}

.avatar {
	padding-top: 60px;
}

.hero-info {
	padding-top: 60px;
	padding-bottom: 60px;
}

/* ABOUT STYLES */

.about-container {
	max-width: 70%;
	text-align: center;
	margin: 0 auto;
	font-size: 28px;
	font-weight: 300;
	letter-spacing: 3px;
	padding-top: 200px;
	color: #77919D;
	padding-bottom: 320px;
}

/* SERVICES STYLES */

.services-icons {
	display: block;
	margin: 0 auto;
}

.services-title {
	text-align: center;
	font-size: 28px;
	color: #274C5E;
	letter-spacing: 5px;
	text-transform: uppercase;
	font-weight: 700;
	margin-top: 25px;
}

.services-text {
	text-align: center;
	max-width: 33.33;
	font-size: 22px;
	color: #77919D;
	font-weight: 300;
	padding-bottom: 350px;
}

/* PROJECTS STYLES */

.afExotics-container {
	background-color: #F5F5F5;
}

.paycrave-container {
	background-color: #F5F5F5;
}

.afExotics-mock {
	padding: 112px 55px;
}

button {
		/* Rectangle 16: */
	border: 2px solid #DF405A;
	border-radius: 80px;
	background-color: transparent;
	width: 259px;
	height: 70px;
	font-size: 32px;
	color: #DF405A;
}

.projects-name-left {
	font-size: 48px;
	color: #274C5E;
}

.projects-info-left {
	font-size: 32px;
	font-weight: 300;
	color: #77919D;
	margin-bottom: 25px;
}

.project-mini-info {
  padding-top: 390px;
  padding-right: 55px;
}

.netflix-mock {
	padding-top: 160px;
	padding-left: 140px;
	padding-bottom: 160px;
}


.project-mini-info-right {
	padding-left: 90px;
	padding-top: 280px;
}

.paycrave-mock {
	padding: 123px 55px;
}

/* MEDIA QUERIES */

@media (min-device-width: 375px) {
	.hero h1 {
		letter-spacing: 2px;
		margin-bottom: 35px;
	}

	.hero-info{
		padding: 20px 0 0 0;
	}

	.avatar {
		padding-top: 35px;
	}

	.about-container {
		letter-spacing: 1px;
		font-size: 20px;
		max-width: 100%;
		padding-bottom: 100px;
		padding-top: 100px;
	}

	.services-text {
		padding-bottom: 100px;
	}

	.project-mini-info {
		padding-top: 5px;
		padding-right: 0;
	}

	.project-mini-info-right {
		padding-top: 5px;
		padding-right: 0;
		padding-left: 0;
		margin-top: 55px;
	}


	.projects-name-left {
		text-align: center;
		font-size: 38px;
	}

	.projects-info-left {
		text-align: center;
		font-size: 22px;
	}

	.afExotics-mock {
		padding: 0 0 55px 0;
	}

	.netflix-mock {
		padding: 55px 0 0 0;
	}

	button {
		width: 210px;
		height: 65px;
		font-size: 28px;
		display: block;
		margin: 0 auto;
	}
}